{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
{% if transactions|length >= 1 %}
    <h4>
        Transaction History:
    </h4>
    <br>
    <table class="table table-striped">
        <tr>
            <th scope="col">
                ID
            </th>
            <th scope="col">
                Symbol
            </th>
            <th scope="col">
                Shares
            </th>
            <th scope="col">
                Price/Share
            </th>
            <th scope="col">
                Time:
            </th>

        </tr>

        {% for transaction in transactions %}
        <tr>
            <td>
                {{ transaction['id'] }}
            </td>
            <td>
                {{ transaction['symbol'] }}
            </td>
            <td>
                {{ transaction['shares'] }}
            </td>
            <td>
                {{ transaction['price'] }}
            </td>
            <td>
                {{ transaction['time'] }}
            </td>
        </tr>
        {% endfor %}
        <tr>
        </tr>

    </table>
    {% else %}
    <h5>
        Looks like you haven't made any transactions yet!
        <br>Click "Quote" to find stock prices, and "Buy" to buy some stocks!
    </h5>

    {% endif %}
{% endblock %}