{% extends "layout.html" %}

{% block title %}
    {{ username }}'s Portfolio
{% endblock %}

{% block main %}

    {% with welcome_msgs = get_flashed_messages(category_filter=["welcome"]) %}
        {% for message in welcome_msgs %}
            <h4>
                {{ message }}
            </h4>
        {% endfor %}


    {% endwith %}

    {% if stocks|length >= 1 %}
    <h4 style="text-align: center">
        Here are your currently held stocks:
    </h4>
    <br>
    <table class="table table-striped">
        <tr>
            <th scope="col">
                Symbol
            </th>
            <th scope="col">
                Shares
            </th>
            <!-- <th scope="col">
                Total Value
            </th> -->

        </tr>

        {% for stock in stocks %}
        <tr>
            <td>
                {{ stock['symbol'] }}
            </td>
            <td>
                {{ stock['shares'] }}
            </td>
            <!-- <td>
                {{ stock['value'] }}
            </td> -->
        </tr>
        {% endfor %}
        <tr>
        </tr>

    </table>
    {% else %}
    <h5>
        Looks like you don't have any stocks!
        <br>Click "Quote" to find stock prices, and "Buy" to buy some stocks!
    </h5>

    {% endif %}

    <h5>
        Current cash balance:
        <br> {{ balance }}
    </h5>

{% endblock %}