{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}

    {% if symbols|length > 0 %}
    <h4>Ready to cash out?</h4>
    <h4>Please select the stock you would like to sell, as well as the amount of shares.</h4>

    <form action="/sell" method="post">

        <div class="form-group">
            <select name="symbol" class="form-control" autofocus>
                {% for symbol in symbols %}
                    <option value="{{symbol}}">{{symbol}}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="number">
            <button class="btn btn-primary" type="submit">Sell</button>
        </div>


    </form>


    {% else %}

    <h4>Looks like you don't have any shares to sell!
    <br>That's okay, you can head on over to the "Buy" page to get some.</h4>

    {% endif %}



{% endblock %}